* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Cores */
  --content-primary: #FFFFFF;
  --content-secondary: #C7C9CC;
  --content-tertiary: #D9D9D9;
  --content-brand: #C58DE7;
  --color-inverse: #030203;

  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222E;
  --background-brand: #C58DE7;
  --background-gray: #3D3D3D;

  --gradient-border: linear-gradient(90deg, #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
  --gradient: linear-gradient(90deg, #D586E0 0%, #91A1FA 98.93%);
  --gradient-content: linear-gradient(90deg, #C7C9CC 0%, #3D3D3D 100%);

  /* Texts */
  --sora: "Sora", sans-serif;
  --roboto-mono: "Roboto Mono", monospace;
  --roboto-flex: "Roboto Flex", sans-serif;

  --display-lg: 900 4.5rem/130% var(--sora);
  --display-md: 900 2.5rem/130% var(--sora);
  --display-sm: 700 2rem/130% var(--sora);

  --overline: 700 1.5rem/150% var(--roboto-mono);

  --p-lg: 400 1.5rem/150% var(--roboto-flex);
  --p-md: 400 1.125rem/150% var(--roboto-flex);
  --p-sm: 400 .875rem/150% var(--roboto-flex);
  --label-md: 700 1.5rem/150% var(--roboto-flex);
  --label-sm: 700 1.125rem/150% var(--roboto-flex);
}

body {
  background-color: black;
  background-image: url(assets/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 80rem;
  margin-inline: auto;
  margin-block: 5rem;
}

.container {
  max-width: 80rem;
  padding-inline: 1rem;

  display: flex;
  align-items: center;
  gap: 1rem;
}

header {
  color: var(--content-primary);
  font-family: var(--sora);
  font-size: 1.75rem;
  font-weight: 900;
  font-style: uppercase;

  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 5rem;
  margin-inline: 1rem;

  & img {
    width: 3rem;
    height: 3rem;
  }
}

main {
  display: flex;
  gap: 6rem;
  margin-inline: 1rem;
}

.head {
  max-width: 36rem;

  & p {
    font: var(--overline);
    text-transform: uppercase;
    background: var(--gradient-content);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-bottom: .75rem;
  }

  & h1 {
    color: var(--content-primary);
    font: var(--display-lg);
    text-transform: uppercase;

    margin-bottom: 2.5rem;
  }
}

.marg-1 {
  margin-bottom: 2.25rem;
}

.quests {
  max-width: 28rem;

  & .item {
    display: flex;
    align-content: center;
    gap: .5rem;
  }

  & img {
    width: 1.75rem;
    height: 1.75rem;
  }

  & h3 {
    font: var(--p-md);
    color: var(--content-brand);

    margin-top: .125rem;
  }

  & p {
    font: var(--p-sm);
    color: var(--content-secondary);
  }
}

form {
  max-width: 36rem;
}

.title-form {
  margin-block: 2.5rem;

  & h3 {
    color: var(--content-primary);
    font: var(--label-md);
  }

  & p {
    color: var(--content-secondary);
    font: var(--p-md);
  }
}

.numb-fields {
  display: flex;
  justify-content: start;
  text-align: center;
  gap: 1rem;

  & .number-field {
    color: var(--content-secondary);
    font: var(--label-md);
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    position: relative;
  }
}

@keyframes gradientBorder {
  50% {
    background-position: 100% 50%;
  }
}

.border-grad {
  position: relative;
  padding: .125rem;

  &::before {
    content: '';
    background: var(--gradient-border);
    background-size: 200%;
    background-position: 0% 50%;
    position: absolute;
    inset: 0;
    border-radius: 1rem;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.2s ease;
    animation: gradientBorder 5s linear infinite;
  }

  &:hover::before,
  &:focus-within::before {
    opacity: 1;
  }

  & input {
    all: unset;
    background-color: var(--background-secondary);
    color: var(--content-primary);
    font: var(--display-sm);

    width: 7rem;
    height: 3rem;
    padding: .5rem;
    border-radius: 1rem;
    border: solid .125rem transparent;
  }

  & input[type=number]::-webkit-inner-spin-button{
    appearance: none;
  }
}

& .number-field:hover label,
& .number-field:focus-within label {
  color: var(--content-brand);
}

.opt-toggle {
  margin-top: 1rem;
  color: var(--content-primary);
  font: var(--p-sm);
  
  & #gap {
    margin-left: 3rem;
    padding-top: .125rem;
  }
}

input[type="checkbox"] {
  appearance: none;
  width: 2.5rem;
  height: 1.625rem;
  background-color: var(--content-tertiary);
  border-radius: 1rem;
  position: absolute;
  cursor: pointer;
  transition: .3s;
}

input[type="checkbox"]::before  {
  content: '';
  position: absolute;
  width: 1.125rem;
  height: 1.125rem;
  background-color: var(--content-primary);
  border-radius: 50%;
  left: .125rem;
  top: .25rem;
  transition: .3s;
}

input[type="checkbox"]:checked {
  background: var(--gradient);
}

input[type="checkbox"]:checked:before {
  left: 1.125rem;
}

.submit {
  margin-top: 2rem;
  position: relative;
  padding: .125rem;
  display: flex;
  text-align: center; 

  &::before {
    content: '';
    background: var(--gradient-border);
    background-size: 500%;
    background-position: 0% 50%;
    position: absolute;
    inset: 0;
    border-radius: 1rem;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.2s ease;
    animation: gradientBorder 5s linear infinite;
  }

  &:hover::before,
  &:focus-within::before {
    opacity: 1;
  }

  & button {
    all: unset;
    background-color: var(--background-tertiary);
    color: var(--content-primary);
    font: var(--label-sm);

    width: 35rem;
    height: 3rem;
    padding: .5rem;
    border-radius: 1rem;
    border: solid .125rem transparent;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    & img {
      width: 1.75rem;
      height: 1.75rem;
    }

    &:hover img,
    &:focus-within img {
      animation: movement 1s infinite alternate ease-in-out;
    }
  }
}

@keyframes movement {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1rem);
  }
}

.result-display {
  max-width: 36rem;
  display: block;
  text-align: center;
  margin-top: 2rem;
  padding: 2rem;
  background: transparent;
  border-radius: 1rem;
  font-family: 'Sora', sans-serif;
}

.result-display h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--content-primary);
  text-transform: uppercase;
}

.numbers-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

.number-box {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  
  font-family: var(--roboto-mono);
  font-size: 3rem;
  font-weight: 700;
  color: var(--content-brand);
  margin-block: 4rem 3rem;
}

.spinner-square {
  width: 5rem;
  background-color: var(--background-brand);
  height: 5rem;
  border-radius: 1.5rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.reveal-number {
  animation: fadeInNumber 1s ease forwards;
}

@keyframes fadeInNumber {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.hidden-btn {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
  margin-top: 2rem;
}

.show-btn {
  opacity: 1;
  pointer-events: auto;
}


@media(width > 80rem) {
  body {
    background-size: cover;
  }
}

@media(width < 76.25rem) {
  .container {
    margin-inline: auto;
  }

  header {
    margin-bottom: 2rem;
  }

  main {
    flex-direction: column;
    justify-items: center;
    gap: 2rem;
  }

  .content {
    max-width: 30rem;
    margin-inline: auto;
    padding-inline: 1rem;
  }

  .title-form {
    max-width: 30rem;
    margin-top: 0;
  }

  .opt-toggle {
    margin-left: .75rem;
  }

  .head {
    & p {
      font: 700 1.125rem/150% var(--roboto-mono);
      text-align: center;
    }

    & h1 {
      font: 900 3.5rem/130% var(--sora);
      text-align: center;
    }
  }
}

@media(width < 29.375rem) { 
  .head {
    & h1 {
      font: 900 2.5rem/130% var(--sora);
      text-align: center;
    }
  }

  .numb-fields {
    gap: .5rem;
    margin-inline: auto;
    max-width: 20rem;

    & .number-field {
      font: 700 1.25rem/150% var(--roboto-flex);
    }
  }

  .border-grad {
    & input {
      font: 700 1.5rem/130% var(--sora);

      width: 5rem;
      height: 2.5rem;
      padding: .5rem;
    }
  }
}